{% if user.is_authenticated and user.is_staff %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/formularios.css">
<script type="text/javascript">
$("#form").submit(function(e){
		e.preventDefault();
		var dato=$(this).serialize();
		//alert(dato);
		$.ajax({
			type:"POST",
			url:"/editarcontracenia/",
			data: dato,
			success:function(resp){
				//alert(resp);
				window.location='/'
			}
		});
	});
</script>
<div class="card">
<form method='POST' id='form'>{% csrf_token %}
	{{forms}}<br>
	<button class="btn btn-warning">Guardar</button>
</form>
</div>
{% else %}
<script type="text/javascript">
$(document).ready(function(){
    alert(window.location='/')
});
</script>
<style type="text/css">
html{display: none;}
</style>
{% endif %}