.card{
	width: 500px;height: auto;margin: auto;margin-top: 20px;border: 1px solid black;
	margin-right: 250px;
}
.card p{
	text-align: center; color: #000; font-size: 14px;
}
.card form{
	width: 95%;height: auto;margin: auto;padding: 5px;
	font: normal bold 12px Verdana, Arial;
}
.card form label{
	display: inline-block;
	width: 150px;font-size: 11px;
	margin-left: 10px;
}
.card form input{
	height: 25px;
	display: inline-block;width: 200px;margin-bottom: 10px;
}
.card form select{
	height: 25px;
	display: inline-block;width: 200px;margin-bottom: 10px;
}
.card form textarea{
	height: 60px;
	display: inline-block;width: 200px;margin-bottom: 10px;
}
.btn-primary{margin-left: 160px;}