<script type="text/javascript">
$("table tr a").on('click',detalles);
function detalles(e){
	e.preventDefault()
	var dato = $(this).attr('href');
	$.ajax({
		type:'GET',
		url:dato,
		success:function(resp){
			$("#FormAjax").html(resp);
		}
	});
}
</script>
<div class="table-responsive">
<table class="table table-hover table-striped">
	<tr><td colspan='8' align='center'>ROL DE DEFENSAS PROGRAMADAS</td></tr>
	<tr class="success">
		<td>Titulo</td>
	
		<td>Alumno</td>
		<td>Fecha y Hora de Defensa</td>
		<!-- <td>Tribunal</td>
		<td>Fecha Defensa</td>
		<td>Hora Defensa</td> -->
		<td>Tribunales</td>
		<td>Estado</td>
	</tr>
{% for i in datos %}
		<tr>
			<td><a href="/datalles/{{i.id}}"><span class="glyphicon glyphicon-chevron-right"></span></a>    {{i.titulo}}</td>
			
			<td>{{i.alumno}}</td>
			<td>{{i.fecha_de_defensa}} Horas: {{i.hora_de_la_defensa}}</td>
			<td>
{% for tri in i.tribunal.all %}
	{{tri.grado}}.- {{tri.nombre|upper}} {{tri.apellido_paterno|upper}} {{tri.apellido_materno|upper}}
{% empty %}
	<span style="color:red">En proceso</span>
	{% endfor %}
			</td>
			<td>
				{% if i.estado == 0 %}
					<span><img src="/static/img/icon_success.gif"></span>
				{% else %}
					<span><img src="/static/img/icon_error.gif"></span>
				{% endif %}
			</td>	
		</tr>
{% endfor %}
<tr><td>Registros Activos:{{cont}}</td><td>Registros Inactivos: {{con}}</td></tr>
</table>
</div>