<table class="table table-hover table-striped">
	<tr><td colspan='4' align='center'>LISTA DE TRIBUNALES</td></tr>
	<tr class="success">
		<td>NOMBRE</td>
		<td>APELLIDO PATERNO</td>
		<td>APELLIDO MATERNO</td>
		<td>CARRERA</td>
		<td>FECHA DE REGISTRO</td>
		<td>ESTADO</td>
	</tr>
{% for i in tribunales %}
		<tr>
			<td><a href="/tri/" id="{{i.id}}"><span class="glyphicon glyphicon-chevron-right"></span></a>{{i.nombre}}</td>
			<td>{{i.apellido_paterno}}</td>
			<td>{{i.apellido_materno}}</td>
			<td>{{i.fecha}}</td>
			<td>{{i.carrera}}</td>
			
			<td>
				{% if i.estado == 0 %}
					<span><img src="/static/img/icon_success.gif"></span>
				{% else %}
					<span><img src="/static/img/icon_error.gif"></span>
				{% endif %}
			</td>	
		</tr>
{% endfor %}
<tr><td>Registros Activos:{{cont}}</td><td>Registros Inactivos: {{con}}</td></tr>
</table>
<script type="text/javascript" src="{{STATIC_URL}}js/modaltri.js"></script>